{% extends "template.html"%}
{% block conteudo %}
<form method="post" action="{{ url_for('criarBeneficioUsuario',id=id) }}" enctype="multipart/form-data">
  <br>
  <div class="container w-100 p-3 bg-dark">
    <div class="row">
      <div class="col-lg text-left text-white font-weight-bold">
        {{ titulo }}
      </div>
      <div class="col-md text-right">
        {{form.salvar(class="btn btn-primary")}}
        <a class="btn btn-danger" href="{{url_for('visualizarUsuario',id=id)}}">Voltar</a>
      </div>
    </div>
  </div>
  <br>
  <fieldset>
    {{form.csrf_token()}}
    <div class="form-group">
      {{form.beneficio.label(class="form-label")}}
      {{form.beneficio(class="form-control")}}
    </div>    
  </fieldset>
</form>
{% endblock%}