{% extends "template.html"%}
{% block conteudo %}
<br>

<table class="table table-striped table-responsiv">
    <thead class="bg-dark text-white">
        <tr>
            <th class="text-left col-md-4">Nome</th>
            <th class="text-left col-md-2">Status</th>
            {% for i in range(30) %}   
              <th class="text-left col-md-2">{{i + 1}}</th>
            {% endfor %}   
        </tr>
    </thead>
    <tbody>
      
        <tr>
            <td class="text-left">{{ itens }}</td>
            <td class="text-left"></td>
            <td class="text-left"></td>
            <td class="text-left">
            <td>
            <td>

          </td>              
        </tr>
      
    </tbody>
</table>
{{ lista }}
{% endblock%}

