{% extends "template.html"%}
{% block conteudo %}
<br>
<div class="container w-100 p-3 bg-dark">
    <div class="row">
      <div class="col-lg text-left text-white font-weight-bold">
        {{ titulo }} 
      </div>
      <div class="col-md text-right" >
        <a class="btn btn-primary" href="{{url_for('novo')}}">Novo</a>
      </div>
    </div>
  </div>
  <br>
<table class="table table-striped table-responsiv">
    <thead class="bg-dark text-white">
        <tr>
            <th class="text-left col-md-4">Usuário</th>
            <th class="text-left col-md-4">Login</th>
            <th class="text-left col-md-2">Tipo</th>
            <th class="text-left col-md-2">Status</th>
            <th class="text-left col-md-4" colspan="2">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td class="text-left">{{ usuario.nome_usuario }}</td>
            <td class="text-left">{{ usuario.login_usuario }}</td>
            <td class="text-left"></td>
            <td class="text-left">{{ usuario.status_usuario }}</td>
            <td>
                <a class="btn btn-primary" href="{{url_for('editar',id=usuario.cod_usuario)}}">Editar</a>
            </td>            
            <td>
                <a class="btn btn-danger" href="{{url_for('deletar',id=usuario.cod_usuario)}}">Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock%}
